<section>
  <h2>Create New Blog</h2>

  <form class="new-blog-form">
    <div>
      <label for="blog-title">Title</label>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <label for="blog-url">Link</label>
      <input id="blog-url" name="blog-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if blogs.length}}
<section>
  <h2>Your Blogs</h2>
  <ol>
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
      <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit blog</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/public/javascript/add-blog.js"></script>