* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #000000;
    background-color: #c5efde;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 30px 30px 5px 7px;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  .title-container h1 {
    background-color: paleturquoise;
    color: rgb(9, 27, 82);
    display: inline-block;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 8px 5px 2px rgba(196, 210, 196, 0.879);
  }
  
  #logout {
    all: unset;
  }
  
  a, #logout {
    text-decoration: none;
    color: #c5efde;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(149, 67, 196);
  }
  
  
  #submit {
    border: grey;
    background-color: rgb(128, 128, 128);
    color: rgba(222, 213, 213, 0.872);
    width: 100%;
    margin: 5px;
  } 
  
  #signup-instead {
    color: rgb(114, 15, 15);
  }
  
  #signup-instead:hover {
    background-color: #558e36;
  }
  
  .user-info {
    float: right;
  }
  
  button:not(.logout) {
    background-color: rgb(190, 213, 190);
    border: 0;
    padding: 1%;
    color: rgb(41, 23, 23);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(190, 213, 190);
  }
  
  .blog-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  textarea, input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  .form-box {
    border: solid;
    padding: 10px;
  }
  
  h2 {
    background-color: rgb(41, 23, 23);
    color: rgb(190, 213, 190);
    padding: 10px;
    margin: 0;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #000000;
    border-bottom: 1px solid #ccc;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    height: auto;
    justify-content: center;
    background-color: #c5efde;
    padding: 10px 0px;
    margin-left: 2rem;
    border-radius: 10px;
    box-shadow: 5px 10px grey;
  }

  header h1 a {
    color: black;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .delete-blog-btn {
    background-color: #d41414;
  }
  
  .delete-blog-btn:hover {
    background-color: #ff643d;
  }
  
  ol {
    list-style-type: none;
  }
  
  .blog {
    margin-bottom: 2%;
    line-height: 150%;
    border: solid;
    padding: 10px;
  }
  
  .blog .title {
    background-color: #000000;
    color: grey;
    padding: 10px;
  }
  
  .blog .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color: blue;
  }
  
  
  .comments a {
    color: blue;
    font-weight: normal;
  }
  .comment-form {
    margin-bottom: 5%;
  }
  
  #comment-form {
    border-top: 35px solid blue;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .edit-blog-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  div.meta a {
    color: black;
  }